.city-card {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 50px;
  width: 200px;
  height: 250px;
  margin: 1em;
}

.city-card-img {
  text-align: center;
  padding: 1em;
}

.city-card img {
  width: 170px;
  height: 150px;
  border-bottom: 1px solid white;
}

.city-card-content h5 {
  text-align: center;
  color: white;
}

.city-card-content p {
  text-align: center;
  color: white;
  font-weight: bold;
}



@media only screen and (max-width: 320px) {
  .city-card {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 50px;
    width: 200px;
    height: 140px;
    margin: 1em;
  }

  .city-card img {
    width: 100px;
    height: 80px;
    border-bottom: 1px solid white;
  }

  .city-card-img {
    text-align: center;
    padding: .1em;
  }
}